{% extends 'base.html' %}

{% block title %} Slakr {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='other-posts.css') }}?u={{ last_updated }}">
{% endblock %}

{% block content %}

{% if signed_in %}

<h1>Welcome to Slakr!</h1>
<h2>Hello {{ user.first_name.title() }}</h2>


{% if feed %}
<div class="posts">
{% for post in feed[::-1] %}

{{ other_user_post(post, user) }}


{% endfor %}
</div>
{% endif %}
{% else %}

<h1>Slakr!</h1>
<p>The open source social app</p>
{% endif %}

{% endblock %}